RewriteEngine on
RewriteCond $1 !^(index\.php|resources|robots\.txt)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L,QSA]


RewriteRule ^config/?$ - [F,L]
RewriteRule ^controller/?$ - [F,L]
RewriteRule ^helper/?$ - [F,L]
RewriteRule ^page/?$ - [F,L]
RewriteRule ^sis_core/?$ - [F,L]
RewriteRule ^module/?$ - [F,L]